<div class="card main-card bg-dark mt-5" *ngIf="streamer">
  <div class="card-header">
    <div class="card-title primary-color text-center">
      <h1>{{streamer.name}}</h1>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <h4 class="bottom text-white">Kudos : {{streamer.kudos}}</h4>
      </div>
      <div class="col-md-3">
        <img src="{{streamer.profilePicture}}" class="fill picheight">
      </div>
    </div>   
    <hr />
    <div class="row">
      <div class="col-md-6 text-center">
        <div class="card bg-light">
          <div class="card-header">
            <h4 class="color-black">
              Messages sent to {{streamer.name}}:
            </h4>
          </div>
          <div class="card-body">
            <div class="scrollfield pr-2">
              <div *ngFor="let message of messages">
                <div class="row">
                  <div class="col-md-8">                  
                      <p>{{message.message}}</p>                    
                  </div>
                  <div class="col-md-4">
                      <p>{{message.createdAt}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="card bg-light">
          <div class="card-header">
            <h4 class="color-black">
              {{streamer.name}}'s activities:
            </h4>
          </div>
          <div class="card-body">
            <div class="scrollfield pr-2">
              <div *ngFor="let activity of activities">
                <div class="row">
                  <div class="col-md-8">
                    <p>{{activity.activity}}</p>
                  </div>
                  <div class="col-md-4">
                    <p>{{activity.createdAt}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>