<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark" *ngIf="streamer">
        <div class="card-header">
          <h1>{{streamer.name}}</h1>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 my-auto">
              <h4 class="text-white">Kudos: {{streamer.kudos}}</h4>
              <h4 class="text-white">Total streaming time: {{streamer.totalStreamTime}} hours</h4>
            </div>
            <div class="col-md-8 my-auto text-right">
              <img src="{{streamer.profilePicture}}" alt="profilePicture" class="profilePic">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4 infosep">
              <div class="row">
                <h4 class="infotext mx-auto">Messages sent to {{streamer.name}}:</h4>
              </div>
              <div class="row">
                <div class="scrollfield">
                  <div *ngFor="let message of messages">
                    <div class="col-md-12">
                      <p>{{message.message}}</p>
                    </div>
                    <div class="col-md-12">
                      <p><span id="datetime">{{message.createdAt | date : "dd/MM 'at' h:mma"}}</span></p>
                    </div>
                    <hr class="endline">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 infosep">
              <div class="row">
                <h4 class="infotext mx-auto">{{streamer.name}}'s activities:</h4>
              </div>
              <div class="row">
                <div class="scrollfield">
                  <div *ngFor="let activity of activities">
                    <div class="col-md-12">
                      <p>{{activity.activity}}</p>
                    </div>
                    <div class="col-md-12">
                        {{activity.createdAt | date : "dd/MM 'at' h:mma" }}
                    </div>
                    <hr class="endline">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row infosep">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Choose an activity category:
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" (click)="selectedCategory()">
                    <a class="dropdown-item">EndStream</a>
                    <a class="dropdown-item">CreateStream</a>
                    <a class="dropdown-item">PostMessage</a>
                    <a class="dropdown-item">StartWatching</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var dt = new Date();
  document.getElementById("datetime").innerHTML = (("0" + dt.getDate()).slice(-2)) + "." + (("0" + (dt.getMonth() + 1)).slice(-2)) + "." + (dt.getFullYear()) + " " + (("0" + dt.getHours()).slice(-2)) + ":" + (("0" + dt.getMinutes()).slice(-2));
</script>