.scrollfield
    width: 100%;
    height: 250px;

.container
    width: 800px

.profilePic
    max-width: 100%
    max-height: 100%

.card-header
    color: rgba(217, 30, 24, 0.8)

.infotext
    color: black

.scrollfield
    border-top: solid 2px black

.infosep
    background-color: white 
    border: solid 1px black

.endline
    border: solid 1px black

#dropdownMenuButton
    color: black
    background-color: white
    width: 100%