<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark" *ngIf="streamer">
        <div class="card-header">
          <h1>{{streamer.name}}</h1>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 my-auto">
              <h4 class="text-white">Kudos: {{streamer.kudos}}</h4>
              <h4 class="text-white">Total streaming time: {{streamer.totalStreamTime}} hours</h4>
            </div>
            <div class="col-md-8 my-auto text-right">
              <img src="{{streamer.profilePicture}}" alt="profilePicture" class="profilePic">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-5 infosep">
              <div class="row">
                <h4 class="infotext mx-auto">Messages sent to {{streamer.name}}:</h4>
              </div>
              <div class="row">
                <div class="scrollfield" ngx-auto-scroll lock-y-offset="10">
                  <div *ngFor="let message of messages">
                    <div class="col-md-12">
                      <p>{{message.message}}</p>
                    </div>
                    <div class="col-md-12">
                      <p><span id="datetime">{{message.createdAt | date : "dd/MM 'at' HH:mm"}}</span></p>
                    </div>
                    <hr class="endline">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 infosep">
              <div class="row">
                <h4 class="infotext mx-auto">{{streamer.name}}'s activities:</h4>
              </div>
              <div class="row">
                <div class="scrollfield">
                  <div *ngFor="let activity of activities">
                    <div *ngIf="activityCategory(activity)">
                    <div class="col-md-12">
                      <p>{{activity.activity}}</p>
                    </div>
                    <div class="col-md-12">
                        {{activity.createdAt | date : "dd/MM 'at' HH:mm" }}
                    </div>
                    <hr class="endline">
                  </div>
                  </div>
                  </div>
                </div>
              </div>
            <div class="col-md-2">
              <div class="row">
                    <form>
                        <div class="form-group">
                          <select class="form-control" id="sel1" (change)="selectedCategory($event.target.value)">
                            <option>No filter</option>
                            <option>Created stream</option>
                            <option>Ended stream</option>
                            <option>Posted message</option>
                            <option>Started watching</option>
                            <option>Stopped watching</option>
                          </select>
                        </div>
                      </form>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>