<div *ngIf="stream">
  <div class="card-header">
    <div class="row">
      <div class="col-md-12 text-center">
        <div>
          <h3 class="primary-color">{{stream.title}}</h3>
        </div>
      </div>
    </div>

  </div>
  <div class="card-body">
    <video id="videoPlayer" controls muted="muted" autoplay class="img-fluid">
      <source src="http://thecirclebackend.herokuapp.com/api/video" type="video/mp4">
    </video>
    <!-- <iframe
    src="https://player.twitch.tv/?channel=bobross&muted=true"
class="img-fluid"
    frameborder="0"
    scrolling="no"
    allowfullscreen="true">
</iframe> -->
    <div class="float-left text-white">Currently watching: {{viewers}}</div>
    <div class="scrollfield bg-light mt-1 bordered" id="scrollbox-inner">
      <div *ngFor="let message of messages" (change)="scrollDown()">
        <span class="ml-2"><strong>{{message.authorname}} : </strong> {{message.message}}</span>
      </div>
    </div>

  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-10">
        <input type="text" [(ngModel)]="messagetxt" class="full-width float-left box-height">
      </div>
      <div class="col-md-2">
        <button class="btn btn-danger float-right redbuttons" [disabled]="disableButton" (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>