<div *ngIf="stream">
  <div class="card-header">
    <div class="row">
      <div class="col-md-12 text-center">
        <div>
          <h3 class="primary-color">{{stream.title}}</h3>
        </div>
      </div>
    </div>

  </div>
  <div class="card-body">
    <dashjs-player [src]="'http://167.99.37.249:8000/live/' + stream.host._id + '/index.mpd'"></dashjs-player>
    <!--<dashjs-player [src]="'http://localhost:8000/live/' + stream.host._id + '/index.mpd'"></dashjs-player>-->
    <!--<dashjs-player [src]="'http://localhost:8000/live/' + stream.title + '/index.mpd'"></dashjs-player>-->

    <div class="float-left text-white">Currently watching: {{viewers}}</div>
    <div class="scrollfield bg-light mt-1 bordered" id="scrollbox-inner">
      <div *ngFor="let message of messages" (change)="scrollDown()">
        <span class="ml-2"><strong>{{message.authorname}} : </strong> {{message.message}}</span>
      </div>
    </div>

  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-10">
        <input type="text" [(ngModel)]="messagetxt" class="full-width float-left box-height">
      </div>
      <div class="col-md-2">
        <button class="btn btn-danger float-right" [disabled]="disableButton" (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>
