primary-border = 2px solid 
primary-radius = 4px
primary-color = rgba(217, 30, 24, 0.8)

.leftbox
    height 85vh
    border-radius primary-radius

.user-list-item
    height: 80px
    width: 100%
    border: primary-border
    border-radius: primary-radius
    & img
        width: 100%
        height: 78px
    & .col-md-3
        padding 0
    & .col-md-9
        padding: 0    
   

.vertical-center
    align-content: center

.list-item-user
    width 100%

.container 
    width 100vw