   .login-form 
   margin-top: 40px;
   margin: auto;
   width: 30%;
   padding: 5px;

.margin
  vertical-align: middle;

.container

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: .7em 0px !important;}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-label { margin-top:-15px; }
::ng-deep label.ng-star-inserted { transform: translateY(2em) scale(.75) !important; }

.buttonLogin {
   horizontal-align: middle;
}

    .image {
    height:40em; 
    background-size:auto;
    width:auto;
    background-position:50% 50%;
    background-repeat: no-repeat;
}

.image::after {
  content: "";
  background: url('/assets/circle-big.jpg');
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
    background-repeat: no-repeat;
    background-position:50% 50%;
    height:40em; 
    background-size:auto;
    width:auto;
}