.navbarimage {
    margin-right: 7px;
}

a {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #00000;
}

.nav-link:hover {
  background-color: #971E1E;
}

.nav-link.active {
  background-color: #971E1E;
}


