/* You can add global styles to this file, and also import other style files */
primary-border = 1px solid 
primary-radius = 2.5px
primary-color = rgba(217, 30, 24, 0.8)
secondary-color = rgba(255, 148, 120, 1)

.bg-house-color 
    background-color: primary-color
    
.fill 
    height: 100%
    width: 100%

.bg-sec-color 
    background-color: secondary-color

.full-width
    width: 98%